#btnBar{
    top:50px;
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.btn{
    text-align: center;
    background-color: yellow;
    height:50px;
    width:100px; 
}


#canvas{
    position: absolute;
    top:150px;
    right:50%;
    transform: translate(50%,0);
    width:400px;
    height:400px;
    background-color: aqua;
}

.chess-square {
    position: relative;
    float: left;
    background-color: #fff;
 }

 .numberNotation{
    position: absolute;
    left:0;
    bottom:25%;
 }

 .letterNotation{
    position: absolute;
    right:5%;
    top:35%;
 }

